<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/mystyle.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/headercontent.css" />
</head>
<body>
    <div id="div-top"><h4 class="centertitle" style="align-content:center">TRANG QUẢN LÝ HÀNG HÓA</h4></div>
    <div id="div-main">
        <div id="div-left">
            <h3>Danh mục chức năng quản lý</h3>
            <form>
                <ul style="list-style: none">
                    <li>
                        <button  class="btn btn-primary">Quản lý Categories</button>
                    </li>
                    <li><br /></li>
                    <li>
                        <button class="btn btn-success" href="~/Views/Items/Index.cshtml">Quản lý Items</button>
                    </li>
                </ul>
            </form>
        </div>
        <div id="div-right">
            @RenderBody()
        </div>
    </div>

    <div id="div-footer">Footer</div>
</body>
</html>
